export(Rpeak)
export(calculateDominance)
export(calculateProminence)
export(calculateEvalue)
export(makePeak)
import(RSAGA)
import(downloader)
import(gdalUtils)
import(raster)
import(rgdal)
import(spgrass6)
library(devtools)
library(downloader)
